version: '3.8'

services:
  onlyoffice_docs:
    image: onlyoffice/documentserver
    container_name: onlyoffice_docs
    expose:
    - "80"
    environment:
    - JWT_ENABLED=true
    - JWT_SECRET=6vqQMal0U8vERpdEH3TFHC5WrczmXHqu
    - DOCUMENT_SERVER_PUBLIC_URL=http://localhost:8081
    - USE_UNAUTHORIZED_STORAGE=true
    extra_hosts:
    - "host.docker.internal:host-gateway"

  nginx_proxy:
    image: nginx:latest
    container_name: onlyoffice_nginx_proxy
    ports:
      - "8081:80"
    volumes:
      - ./nginx_proxy/onlyoffice.conf:/etc/nginx/conf.d/default.conf:ro   # <── add :ro
    depends_on:
      - onlyoffice_docs
    extra_hosts:
      - "host.docker.internal:host-gateway"
